* {
    box-sizing: border-box;
    border: 1px solid black;
    
}
main{
    width: 500px;
    height: 300px;
    display: flex;
    flex-direction: column;
}

main > div:first-child{
    flex-basis: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
}
main > div:nth-child(2){
    display: flex;
    flex-basis: 10%;
    justify-content: center;
}
main > div:last-child{
    flex-basis: 15%;
    display: flex;
    justify-content: center;
    align-items: center;

}
main img{
    width: 480px;
    height: 3;
}

.gamenum{
    width: 150px;
}

#shuffle {
    width: 450px;
    height: 30px;
    border-radius: 5px;
    background-color: pink;
    border: transparent;
    cursor: pointer;
}

#shuffle:hover{
    background-color:black;
    color: pink;
}