.tb{
    border: 2px solid black;
    border-collapse: collapse;
    width: 300px;
    height : 300px;
}
.tb td{
    border:1px solid white;
}

.tr3 > :first-child{
    background-color: tomato;
}

.green{
    background-color: green;
}



