.tb {
    border: 2px solid black;
    border-collapse: collapse;
    width: 300px;
    height : 300px;
}

.tr3 > :first-child{
    background-color: tomato;

}

.tr4 > :first-of-type {
    background-color: tomato;

}

.tr5 > td.red{
    background-color: tomato;

}

.tr4 td.green, .tr5 td.green{
    background-color: green;
}

.red, .green {
    border: 1px solid white;
}
/* 
.tb td {
    border: 1px solid white;
} */

